.section_calc {
    h4 {
        font-family: $osans;
        font-weight: normal;
        font-size: 1.875rem;
        padding: 2.625rem 0 1rem;
    }
    .border_calc {
        padding: 4rem 1rem;
        border: 1px solid $redColor;
        position: relative;
    }
    .svg_wrap {
        width: fit-content;
        background: #fff;
        margin: 0 auto;
        padding: 1rem;
        border: 1px solid $redColor;
        border-radius: 50%;
        box-shadow: 0 0 0 10px #fff;
        position: absolute;
        top: -12%;
        right: 50%;
        transform: translateX(50%);
    }
    @media(max-width: 768px) {
        .svg_wrap {
            top: -8%;
        }
    }
    .submint_calc {
        position: absolute;
        bottom: -5%;
        right: 0;
        left: 0;
        button {
            text-transform: $upper;
            box-shadow: 0 0 0 10px #fff;
        }
    }
    @media(max-width: 768px) {
        .submint_calc {
            bottom: -2%;
        }
    }
    #Calculator {
        fill: $redColor;
    }
    .form_calc {
        label,
        select {
            display: block;
            width: 100%;
        }
        label {
            font-size: 1rem;
            font-weight: bold;
        }
        select {
            height: 3rem;
            outline: none;
            font-size: 0.875rem;
            color: $decorColor;
            border: 1px solid $decorColor;
        }
    }
    .descr_data {
        font-size: 1rem;
        font-weight: bold;
        padding: 1rem;
    }
    .form_data {
        display: flex;
        align-items: center;
        padding-left: 3rem;
        span {
            font-size: 1rem;
            font-weight: bold;
        }
    }
    @media(max-width: 768px) {
        .form_data {
            justify-content: center;
            padding: 0;
            span {
                padding-bottom: 1.5rem;
            }
        }
    }
    .input_data {
        input {
            width: 25%;
            height: 3rem;
            outline: none;
            color: $decorColor;
            border: 1px solid $decorColor;
            margin-right: .2rem;
        }
    }
    .input_data_2 {
        white-space: nowrap;
        input {
            width: 40%;
            height: 3rem;
            outline: none;
            color: $decorColor;
            border: 1px solid $decorColor;
        }
        span {
            font-size: 1rem;
            font-weight: bold;
        }
    }
    @media(max-width: 768px) {
        .input_data_2 {
            width: 51%;
            margin: 1rem auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}