@import './_var.scss';
.header_top_bg {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 0.75rem;
    color: $decorColor;
    background: $topColor;
    a {
        color: $decorColor;
        &:hover {
            text-decoration: none;
            color: skyblue;
        }
    }
    .header_top_block_link {
        svg {
            margin-right: .5rem;
        }
    }
    .header_top_content {
        button {
            color: $decorColor;
            text-transform: $upper;
            background: $topColor;
            padding: .2rem 1.5rem;
            border: 1px solid $decorColor;
            margin: .5rem 0;
            outline: none;
            &:hover {
                color: skyblue;
                border: 1px solid skyblue;
            }
        }
        @media (max-width: 1200px) {
            .md_text_right {
                text-align: end;
            }
        }
        .header_top_contact {
            white-space: nowrap;
            text-align: end;
            svg {
                margin-right: .5rem;
            }
            span {
                font-weight: 600;
            }
        }
        @media (max-width: 1200px) {
            .header_top_contact {
                text-align: inherit;
            }
        }
    }
}

.logo_img_china {
    @extend %logo;
    position: relative;
    background: url('../img/flag-china.png') no-repeat left/cover;
}

.logo_img_ru {
    @extend %logo;
    position: absolute;
    top: 0;
    left: 4rem;
    background: url('../img/flag-rus.png') no-repeat center/cover;
}

.logo_descr {
    color: #fff;
    line-height: 1rem;
    padding: 1rem 0;
    span {
        display: block;
        text-transform: $upper;
    }
    .logo {
        font-family: $roboto;
        font-size: 1.6875rem;
        font-weight: 700;
    }
    .descr {
        font-family: $roboto;
        font-weight: 400;
        font-size: 0.75rem;
        white-space: nowrap;
    }
}

.header_main_bg {
    background: url('../img/bg-header.png') no-repeat top/contain;
    height: 46.25rem;
    .header_decor {
        position: relative;
        &::before {
            position: absolute;
            bottom: 0;
            left: -1%;
            display: block;
            content: '';
            width: 102%;
            height: 1px;
            background: $decorColor;
        }
        .nav {
            padding-right: 0;
            .link_menu {
                font-family: $osans;
                font-size: 0.8125rem;
                color: #fff;
                text-transform: $upper;
            }
            .drop_bg {
                background: none;
            }
        }
    }
}