@import './_var.scss';
.header_top_bg {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 0.7rem;
    color: #fff;
    background: $topColor;
    a {
        color: #fff;
        &:hover {
            text-decoration: none;
            color: skyblue;
        }
    }
    .top_content {
        button {
            color: #fff;
            text-transform: uppercase;
            background: $topColor;
            padding: .2rem 1.5rem;
            border: 1px solid #fff;
            margin: .5rem 0;
            outline: none;
            &:hover {
                color: skyblue;
                border: 1px solid skyblue;
            }
        }
        svg {
            margin-right: .5rem;
        }
        .header_top_block_contact {
            .header_top_contact {
                display: inline-block;
            }
            span {
                font-weight: 600;
                margin-right: 1rem;
            }
        }
    }
}

.header_main_bg {
    background: url('../img/bg-header.png') no-repeat top/contain;
    height: 46.25rem;
    .header_main_content {
        .logo_img_china {
            @extend %logo;
            position: relative;
            background: url('../img/flag-china.png') no-repeat left/cover;
        }
        .logo_img_ru {
            @extend %logo;
            position: absolute;
            top: 0;
            left: 4rem;
            background: url('../img/flag-rus.png') no-repeat center/cover;
        }
        .logo_descr {}
    }
}