header.header
    .container-fluid.header_top_bg
        .container.header_top_content
            .row.align-items-center
                .col-md-6.header_logo.d-xl-none.col-sm-8.col-xs
                    .row.my-1.align-items-center
                        .col-auto.mr-4
                            .logo_img_china
                            .logo_img_ru
                        .col
                            .logo_descr
                                span.logo 1kargo.ru
                                span.descr Перевозки из Китая в Россию
                .col-xl-12.col-md-6.col-sm-4.col-xs
                    .row.align-items-center
                        .col-xl-2.md_text_right
                            button Translate
                        .col-xl-3.d-none.d-xl-block
                            .header_top_block_link
                                .block_link
                                    a(href="#").header_top_link
                                        svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21" height="19" viewBox="0 0 21 19")
                                            image(id="Layer_5_copy" data-name="Layer 5 copy" width="21" height="19" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAATCAYAAAB/TkaLAAAB80lEQVQ4ja2UPWtVQRCGn/thRAlCBCF2ouCycVEs/ANKmiAoiNoJgoWlvYVNChHUX6CVlSBYCRprsVM8y9mzlRBBQcVC/MBL7j0ycTYux030gi8s7M6ZffedOTPTq+pm6KxZ4z/AhzgEhsNE5UM8BVwF3hTo+8BE9z1gBtjprDmud9eFqbi1Xtu2YrwCXAdeAF+AbUowUcJWydD9D+AYsN1ZM9tVkJTeBI46a15NkwQf4uOSPSl9CRwBamA2UzVWpT1VKMoHev4O7AEuOmselpSKwxngvYSktoESjTLbWO3y0FvgIPBAbb8hSqu6Wa3qZkn2066qbj5UdbOQ3+sru6jZN00+M4ycNXUp/BTalvAhngY+Al+1rKQKLnTvJNL+X8guA7eAG8BZYLfUo9577UN8Alxz1ix3lW5GuBe4rWVnnTWHCj6X9PuyNEJS2G7Be0fXI+CcD/FpwWeHKC6FPyk446xZ8iFKDvcD95015wtuB3QJJn+En/q4sz+hSld8iKvS91l074AFaQI9z+Skg+4Dmdrn8nN8iLucNZ87Ig6n9tYpNUqk41IFdEdil1DxTFt7wz8RzQP3SkT/gG8+RAl/A0npCvDJh3hSE75ZKvLelznhgLluR61PKc3HXWBRXs4iSBWRV0f6JpNqTmtXHvgF4CeihOQuxBaengAAAABJRU5ErkJggg==")
                                        | Рассчитать доставку груза из Китая
                        .col-xl-3.d-none.d-xl-block
                            .header_top_block_link
                                .block_link
                                    a(href="#").header_top_link
                                        svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="17" viewBox="0 0 16 17")
                                            image(id="иконка_copy" data-name="иконка copy" width="16" height="17" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARCAYAAADUryzEAAAB2ElEQVQ4jZWUO2hVQRCGv3tyLSJR8IUJ+AALl4EJoihYJKggaGMXxc7KWrC0FjtbixSKldhZppEgIhpQLLK4GR+oqEQRBJ9BNDky17mwBIlk4DDL2dl///lnZjtt25KL3Qca4CvQ5a8tAmuA30AHaIGB+L8VeKiSznRmn8wZsB64EpsLwI4Ifg3sBR4Be4BXAeagF4Apv21IJY2wSsvFJp2FA7zPxQ4Bp4EDgINdBZ4Dl1XS5lzsh0pam4s9Bj4Ey0vAfDcofQx6g8Bn4CXgqT0LXm/CP431QsQONAHQRP5Ntf6XtZH/Uvi2qYIWY4PKd8JvCL8F2AV8j2otNYHaDdWpSrYx2LhN5WIXgRsq6RRwombQxI39db/uP4F7uZgLehA4DpzLxUwljQPbPX55Cr/CH1FJt4HDwEmVtFsl7VdJo94judiESrrpQnbj0CZAolm8jJ8CdFglravFVEmDuVjJxcaAFw4wopKmgek6MBc7W5VvuU1GJ951gG+52DvgPLAT+BICjq5QTtfklmvQH6YHkYqr74J6SkeBOz4PKulYxUyBWQdRSTM9gJUsF3PgeeCaV8EHTyU1uZh378R/AQLkOrANeBti+zzs602qA6z28yegd6Zt+QMbhtUdTc0ADwAAAABJRU5ErkJggg==")
                                        | Проследить посылку из Китая
                        .col-xl-2.d-none.d-xl-block
                            .header_top_contact
                                svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="15" viewBox="0 0 15 15")
                                    image(width="15" height="15" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAACE0lEQVQokWNUNbZhgIBd/FMPPZNTqUh4636M4RkDEYAJrMRuV/qq3T+2q91k7GMobt1+VpTBg0jNO50W1L4LFWuK2O2aGu8auNHy4Nu+jOZdDAzKhDWHswZI3Z7D4XD4Wz1I4Nsip7zGd8FvGGvlFxPWfP7fG0ZBZSZkwaNTWQ//t05mus7AYIxf8y2mc+9EDH/sYGCIAAnolOybsXPinXCWae2HNBkYzhLws9OWja+Vv7NEMgQzMBzO6HU/pSadlRLntOl7GWFnMzAwLOtjO/Y/rEL6MMPhXYd/Gf98YchRQUgjXDPDGfvWCa+cP34vnzW/pZV925eMaaoHTBiqkBWazjsse6tZRRlTMwMDw9Z0pq77zpNZ9ki5mcesU9zxq2F64GErhjywpP7hjFbZp/MvGkxbtHNCyMVb2gwqYHFQCoPj3H+5V9/eOvG0wK3RpPF/6oW370882DRp9/rX37c/bHVZrmr8ny1mza8Z9x8dPvcuzCYAKXlCgdPhxHUVL5P5l6ddd362sTou9HdT3Ks64X9VR2LdGBh+gJRwxe2btN55nRMLRijss50f9HbPnYmtK+t33Z26ibltRarzPYbLyEq+vWX8xMjK/AvTZjjYzW5Vx9xdZ/PRjPnO7l/8Z891M849sdvF73Ds/Jx78UJV8dvwaIaBXezGfZwRtWo/PbgZvon+/3CBh21e3UyHfQzzAdvA1d5mk3IFAAAAAElFTkSuQmCC")
                                span 8 800 700 00 42
                        .col-xl-2.d-none.d-xl-block
                            .header_top_contact                        
                                svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="11" viewBox="0 0 17 11")
                                    image(width="17" height="11" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAALCAYAAACZIGYHAAABgUlEQVQokWNUNbZhEEk5ELAw9KMu569frEyMjP8ZiAWP1jL8yVrez6hq/F2nZeX/Vaafjgiz8SgtYuTl+UaMEXc/CShLifw0Zdnu/ZiFgeGfmJjgh89MP23v/WI8G8w1sXmK7e6vfbi1H+TznPx7QYH4JcOXH3QfSzAysDJBJL4zsMa5HkvcZzX9TenasF1tHqevMDDwoWsXjDocsWjnrx2Fv2YqKDYWuS59+x/sdSYGBkQQPJtl1x2Yw5mwWab45dMVHRcOu3IXQWT28HtO3rNuRcDpdtlFUfvcilcbqV1luAPTx4Lh2lv2NybHMfisTTtUOhXkKv+LkR/VfjLyX17ApNC42hVZM25DkF11d8+iznKrQNv1MZ+spj9chkstyBBGnGG41+Vl+V6GGTjloYAJnxnEAhYGBqZrzz9L/VeYPzl6t4CIEyma/3L/YWc8w/AGnGIZ7HeIr6v8JiH87y/DPwYGxr9//jD++/ePgZWV9b+0uORPnKacbGRQy95zHQD5SZPNBQqCOgAAAABJRU5ErkJggg==")
                                span 88007000042@1cargo.ru
    .container-fluid.header_main_bg
        .filter_bg
            .header_decor
                .container.header_main_content
                    .row
                        .col-xl-4.header_logo.d-none.d-xl-block
                            .row.my-1.align-items-center
                                .col-auto.mr-4
                                    .logo_img_china
                                    .logo_img_ru
                                .col
                                    .logo_descr
                                        span.logo 1kargo.ru
                                        span.descr Перевозки из Китая в Россию
                        .col-xl-8.nav.header_nav.col-md-12.d-none.d-sm-block
                            nav.navbar.navbar-expand.nav
                                ul.navbar-nav.ml-xl-auto
                                    -let menuItem = [{item: 'Главная'}, {item: 'Доставка'}, {item: 'Услуги в Китае'}, {item: 'Инфо'}, {item: 'Новости'}, {item: 'Контакты'}];
                                    each link in menuItem 
                                        li.nav-item.dropdown.ml-1
                                            a(href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").nav-link.dropdown-toggle.active.link_menu=link.item
                                            div(aria-labelledby="navbarDropdownMenuLink").dropdown-menu.drop_bg
                                                a(href="#").dropdown-item Action
                                                a(href="#").dropdown-item Another action
                                                a(href="#").dropdown-item Something else here
            .container
                .row
                    .col-xl-12.col-lg-12.col-md-12
                        h1.text-center.description Перевозки из Китая в Россию!
                .block_form
                    .row
                        .col-xl-4.col-lg-4.col-md-4
                            h5 Оставьте заявку
                                p На расчет стоимости доставки
                            .form_bg.form_bg_header
                                form(action="/")
                                    .form-group.text-center.form-inputs
                                        input(type="text" name="name" placeholder="Ваше имя...").form-control
                                        input(type="tel" name="phone_number" placeholder="Ваш телефон...").form-control
                                        input(type="email" name="email" placeholder="Ваш e-mail...").form-control
                                        textarea(name="message" cols="30" rows="1.5" placeholder='Сообщение...').form-control
                                        button.btn.btn-danger.my_btn Отправить заявку
                        .col-xl-8.col-lg-8.col-md-8
                            video(controls loop)
                                source(src="./video/ali.mp4")
                    .row
                        .col-xl-12.col-lg-12.col-md-12.col-sm-12.text-center.arrow_dawn
                            button.arrow.dawn
section.section.section_offers.js_section_offers_none
    .container-fluid.our_offers_bg
        .container
            .row.our_offers
                -let offers = [{img:'./img/map.svg', h5: 'Находимся в Китае', p: 'Это позволяет вести переговоры с поставщиками лично при встрече, а не по телефону'}, {img:'./img/contract.svg', h5: 'Без посредников', p: 'Это положительно влияет на стоимость товара и скорость оформления товара'}, {img:'./img/gift.svg', h5: 'Система скидок', p: 'У нас существует система скидок для постоянных клиентов, которые приятно удивят Вас'}, {img:'./img/plane.svg', h5: 'Свой чартер', p: 'Это гарантия того, что Ваш товар не "потеряется" и быстро будет доставлен Вам'}]
                each item in offers
                    .col-xl-3.col-lg-3.col-md-3.text-center
                        img(src=item.img alt="")
                        h5=item.h5
                        p=item.p
section.section.section_calc
    .container
        .row
            .col-xl-12.col-lg-12.col-md-12.text-center
                h4 Калькулятор доставки
            .col-xl-12.col-lg-12.col-md-12.text-center.my-5.border_calc
                .svg_wrap
                    xml(version="1.0")
                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="48" height="48")
                            g(id="Calculator")
                                path(d="M49,62H15a7.008,7.008,0,0,1-7-7V9a7.008,7.008,0,0,1,7-7H49a7.008,7.008,0,0,1,7,7V55A7.008,7.008,0,0,1,49,62ZM15,4a5.006,5.006,0,0,0-5,5V55a5.006,5.006,0,0,0,5,5H49a5.006,5.006,0,0,0,5-5V9a5.006,5.006,0,0,0-5-5Z")
                                path(d="M35,58H29a3,3,0,0,1-3-3V51a3,3,0,0,1,3-3h6a3,3,0,0,1,3,3v4A3,3,0,0,1,35,58Zm-6-8a1,1,0,0,0-1,1v4a1,1,0,0,0,1,1h6a1,1,0,0,0,1-1V51a1,1,0,0,0-1-1Z")
                                path(d="M21,58H15a3,3,0,0,1-3-3V51a3,3,0,0,1,3-3h6a3,3,0,0,1,3,3v4A3,3,0,0,1,21,58Zm-6-8a1,1,0,0,0-1,1v4a1,1,0,0,0,1,1h6a1,1,0,0,0,1-1V51a1,1,0,0,0-1-1Z")
                                path(d="M49,58H43a3,3,0,0,1-3-3V39a3,3,0,0,1,3-3h6a3,3,0,0,1,3,3V55A3,3,0,0,1,49,58ZM43,38a1,1,0,0,0-1,1V55a1,1,0,0,0,1,1h6a1,1,0,0,0,1-1V39a1,1,0,0,0-1-1Z")
                                path(d="M35,46H29a3,3,0,0,1-3-3V39a3,3,0,0,1,3-3h6a3,3,0,0,1,3,3v4A3,3,0,0,1,35,46Zm-6-8a1,1,0,0,0-1,1v4a1,1,0,0,0,1,1h6a1,1,0,0,0,1-1V39a1,1,0,0,0-1-1Z")
                                path(d="M21,46H15a3,3,0,0,1-3-3V39a3,3,0,0,1,3-3h6a3,3,0,0,1,3,3v4A3,3,0,0,1,21,46Zm-6-8a1,1,0,0,0-1,1v4a1,1,0,0,0,1,1h6a1,1,0,0,0,1-1V39a1,1,0,0,0-1-1Z")
                                path(d="M35,34H29a3,3,0,0,1-3-3V27a3,3,0,0,1,3-3h6a3,3,0,0,1,3,3v4A3,3,0,0,1,35,34Zm-6-8a1,1,0,0,0-1,1v4a1,1,0,0,0,1,1h6a1,1,0,0,0,1-1V27a1,1,0,0,0-1-1Z")
                                path(d="M21,34H15a3,3,0,0,1-3-3V27a3,3,0,0,1,3-3h6a3,3,0,0,1,3,3v4A3,3,0,0,1,21,34Zm-6-8a1,1,0,0,0-1,1v4a1,1,0,0,0,1,1h6a1,1,0,0,0,1-1V27a1,1,0,0,0-1-1Z")
                                path(d="M49,34H43a3,3,0,0,1-3-3V27a3,3,0,0,1,3-3h6a3,3,0,0,1,3,3v4A3,3,0,0,1,49,34Zm-6-8a1,1,0,0,0-1,1v4a1,1,0,0,0,1,1h6a1,1,0,0,0,1-1V27a1,1,0,0,0-1-1Z")
                                path(d="M49,20H15a3,3,0,0,1-3-3V9a3,3,0,0,1,3-3H49a3,3,0,0,1,3,3v8A3,3,0,0,1,49,20ZM15,8a1,1,0,0,0-1,1v8a1,1,0,0,0,1,1H49a1,1,0,0,0,1-1V9a1,1,0,0,0-1-1Z")
                                path(d="M46,17a3,3,0,0,1-3-3V12a3,3,0,0,1,6,0v2A3,3,0,0,1,46,17Zm0-6a1,1,0,0,0-1,1v2a1,1,0,0,0,2,0V12A1,1,0,0,0,46,11Z")
                form(action="/")
                    .row.form_calc
                        .col-xl-3.col-lg-3.col-md-3
                            label(for="destination").text-left Выдача:
                            select(name="destination" id="destination")
                                option В Забайкальске
                                option В Новосибирске
                                option В Москве
                                option В Нижнем Новгороде
                        .col-xl-3.col-lg-3.col-md-3
                            label(for="type_of_product").text-left Вид товара:
                            select(name="type_of_product" id="type_of_product")
                                option Запчасти
                                option Игрушки
                                option Одежда
                                option Оборудование
                        .col-xl-3.col-lg-3.col-md-3
                            label(for="city").text-left Город отправки:
                            select(name="city" id="city")
                                option Гуанчжоу
                                option Иу
                                option Гонконг
                        .col-xl-3.col-lg-3.col-md-3
                            label(for="shipping_method").text-left Вариант отправки:
                            select(name="shipping_method" id="shipping_method")
                                option Авиа 7-10 дней
                                option ЖД 15-20 дней
                                option Морем 30-40 дней
                    .row
                        .col-xl-12.col-lg-12.col-md-12.text-center
                            h5.descr_data Ввод данных
                    .row
                        .col-xl-3.col-lg-3.col-md-3.form_data
                            span Габариты груза (см): 
                        .col-xl-3.col-lg-3.col-md-3.input_data
                            input(type="number", name="data_cargo" id="width_cargo").input_dimensions
                            span x
                            input(type="number", name="data_cargo" id="height_cargo").input_dimensions
                            span x
                            input(type="number", name="data_cargo" id="length_cargo").input_dimensions
                        .col-xl-3.col-lg-3.col-md-3.input_data_2
                            span Вес: 
                            input(type="number", name="weight_cargo" id="weight_cargo")
                        .col-xl-3.col-lg-3.col-md-3.input_data_2
                            span Объем: 
                            input(type="number", name="volume_cargo" id="volume_cargo")
                    .row.submint_calc
                        .col-xl-12.col-lg-12.col-md-12
                            button.btn.btn-danger Рассчитать

section.section.section_hot_sale
    .container
        .row
            .col-xl-3.col-lg-2.col-md-1
            .col-xl-6.col-lg-8.col-md-10.text-center
                h3 Доставка. Горячее предложение!
                p Оставьте заявку на 
                    span.upper бесплатный
                    |  расчет стоимости доставки
            .col-xl-3.col-lg-2.col-md-1
        .row.justify-content-center.block_form
            .col-xl-3.col-lg-4.col-md-4.mt-sm-2.mt-xs-2
                h5 Экспресс доставка
                .form_bg.form_bg_price
                    .svg_block
                        xml(version="1.0")
                            svg(viewBox="0 0 511.99931 511" width="48px" height="48px" xmlns="http://www.w3.org/2000/svg")
                                g(id="airplane")
                                    path(d="m488.65625 319.171875 14.648438-14.644531c9.21875-9.222656 9.21875-24.226563 0-33.449219-4.46875-4.464844-10.40625-6.925781-16.726563-6.925781-4.742187 0-9.273437 1.386718-13.125 3.96875l-3.085937-10.359375 15.855468-15.859375c9.222656-9.222656 9.222656-24.226563 0-33.445313-8.488281-8.492187-21.871094-9.144531-31.140625-2l-18.789062-63.078125c7.503906-7.226562 14.691406-14.257812 21.464843-21.03125 19.519532-19.523437 35.390626-40.183594 44.691407-58.183594 15.714843-30.421874 9.136719-46.683593.851562-54.96875-8.28125-8.285156-24.542969-14.859374-54.96875.855469-17.996093 9.296875-38.660156 25.167969-58.179687 44.691407-6.773438 6.773437-13.808594 13.957031-21.03125 21.460937l-63.082032-18.789063c7.144532-9.265624 6.492188-22.648437-1.996093-31.140624-9.222657-9.21875-24.226563-9.222657-33.445313 0l-15.859375 15.859374-10.363281-3.085937c2.582031-3.855469 3.96875-8.386719 3.96875-13.128906 0-6.316407-2.460938-12.257813-6.925781-16.722657-9.21875-9.2226558-24.226563-9.2226558-33.445313 0l-14.644531 14.644532-74.644531-22.234375c-2.660156-.789063-5.535156-.0625-7.492188 1.898437l-19.214844 19.214844c-3.226562 3.222656-2.800781 8.734375.878907 11.425781l188.335937 137.855469c-42.464844 47.878906-83.371094 95.816406-112.25 130.066406l-55.398437-21.308594c-2.785157-1.070312-5.9375-.402343-8.046875 1.707032l-22.773438 22.773437c-2.945312 2.949219-2.945312 7.726563 0 10.671875l113.863282 113.863282c2.90625 2.910156 7.765624 2.910156 10.675781 0l22.769531-22.769532c2.109375-2.109375 2.78125-5.265625 1.707031-8.050781l-21.304687-55.394531c34.25-28.878906 82.183594-69.785156 130.066406-112.253906l14.960938 20.445312c2.65625 3.628906 8.042968 4.097656 11.300781 1.003906 2.714843-2.578125 3.089843-6.902344.882812-9.917968l-15.816406-21.609376c25.039063-22.347656 49.765625-44.894531 72.199219-66.140624l71.113281 238.730468-9.808594 9.804688-97.738281-133.53125c-2.460938-3.363282-7.183594-4.09375-10.546875-1.632813-3.367187 2.464844-4.097656 7.1875-1.632813 10.550781l102.941407 140.636719c2.691406 3.679688 8.203125 4.105469 11.425781.878907l19.214844-19.214844c1.960937-1.957032 2.6875-4.835938 1.898437-7.492188zm-207.382812-282.222656c3.296874-3.296875 8.800781-3.296875 12.097656 0 3.335937 3.335937 3.335937 8.761719 0 12.097656l-3.539063 3.539063-18.644531-5.554688zm-62.625-17.078125c3.332031-3.335938 8.761718-3.335938 12.097656 0 3.335937 3.335937 3.335937 8.761718 0 12.097656l-2.328125 2.324219-18.640625-5.550781zm-109.773438 7.292968 9.808594-9.804687 238.730468 71.109375c-21.246093 22.4375-43.792968 47.164062-66.144531 72.203125zm3.828125 269.445313 45.957031 17.675781c-11.527344 13.726563-20.367187 24.347656-25.582031 30.632813l-34.34375-34.34375zm31.097656 59.03125c26.3125-31.746094 165.394531-198.59375 257.027344-290.226563 18.179687-18.183593 38.023437-33.472656 54.433594-41.949218 12.320312-6.367188 28.804687-12.15625 37.367187-3.59375s2.769532 25.046875-3.59375 37.367187c-8.476562 16.410157-23.769531 36.25-41.953125 54.433594-91.625 91.625-258.476562 230.710937-290.222656 257.027344zm72.089844 44.15625-13.964844 13.964844-34.34375-34.34375c6.28125-5.210938 16.90625-14.050781 30.632813-25.578125zm264.640625-118.042969c3.335938-3.335937 8.761719-3.335937 12.097656 0 3.335938 3.335938 3.335938 8.761719 0 12.097656l-8.871094 8.871094-5.554687-18.640625zm-17.078125-62.625c3.332031-3.335937 8.761719-3.332031 12.097656 0 3.296875 3.296875 3.296875 8.800782 0 12.097656l-10.085937 10.085938-5.554688-18.644531zm0 0")
                                    path(d="m453.082031 435.203125-64.410156 64.410156c-2.746094 2.75-2.929687 7.289063-.402344 10.242188 2.824219 3.296875 8.007813 3.503906 11.078125.433593l64.410156-64.410156c2.949219-2.949218 2.949219-7.726562 0-10.675781-2.945312-2.945313-7.726562-2.945313-10.675781 0zm0 0")
                                    path(d="m431.550781 413.671875c2.949219-2.945313 2.949219-7.726563 0-10.671875-2.945312-2.949219-7.726562-2.949219-10.671875 0l-40.257812 40.253906c-2.746094 2.75-2.929688 7.289063-.402344 10.242188 2.824219 3.296875 8.007812 3.503906 11.078125.433594zm0 0")
                                    path(d="m407.398438 373.417969c2.949218-2.949219 2.949218-7.730469 0-10.675781-2.949219-2.949219-7.726563-2.949219-10.675782 0l-28.179687 28.179687c-2.746094 2.746094-2.929688 7.289063-.398438 10.242187 2.820313 3.296876 8.003907 3.503907 11.074219.433594zm0 0")
                                    path(d="m77.296875 52.765625c-2.949219-2.945313-7.730469-2.945313-10.675781 0l-64.410156 64.414063c-2.949219 2.945312-2.949219 7.726562 0 10.671874 2.90625 2.90625 7.765624 2.90625 10.675781 0l64.410156-64.410156c2.945313-2.949218 2.945313-7.726562 0-10.675781zm0 0")
                                    path(d="m109.5 84.972656c-2.949219-2.949218-7.726562-2.949218-10.671875 0l-40.257813 40.257813c-2.75 2.746093-2.929687 7.285156-.402343 10.238281 2.824219 3.296875 8.003906 3.503906 11.074219.433594l40.257812-40.253906c2.949219-2.949219 2.949219-7.730469 0-10.675782zm0 0")
                                    path(d="m110.902344 147.980469c2.910156 2.90625 7.765625 2.90625 10.675781 0l28.179687-28.179688c2.945313-2.949219 2.945313-7.726562 0-10.675781-2.949218-2.945312-7.726562-2.945312-10.675781 0l-28.179687 28.179688c-2.945313 2.949218-2.945313 7.726562 0 10.675781zm0 0")
                    h4 За 9 дней из Гуанчжоу
                        span 9$-1кг
                    form(action="/")
                        .form-group.text-center
                            input(type="text" name="name" placeholder="Ваше имя...").form-control
                            input(type="tel" name="phone_number" placeholder="Ваш телефон...").form-control
                            input(type="email" name="email" placeholder="Ваш e-mail...").form-control
                            button.btn.btn-danger Отправить заявку
                            p Наш менеджер перезвонит Вам
                                span в ближайшее время
            .col-xl-3.col-lg-4.col-md-4.mt-sm-2.mt-xs-2
                h5 Авто-ж.д доставка
                .form_bg.form_bg_price
                    .svg_block
                        xml(version="1.0")
                            svg(enable-background="new 0 0 450.823 450.823" height="48px" viewBox="0 0 450.823 450.823" width="48px" xmlns="http://www.w3.org/2000/svg")
                                g(id="train")
                                    path(id="path-1_51_" d="m188.982 233.664c11.004 11.004 11.004 28.844 0 39.847-11.004 11.004-28.844 11.004-39.847 0-11.004-11.004-11.004-28.844 0-39.847s28.844-11.003 39.847 0" transform="translate(4.902 7.902)")
                                    path(id="path-1_50_" d="m301.688 233.664c11.004 11.004 11.004 28.844 0 39.847-11.004 11.004-28.844 11.004-39.847 0-11.004-11.004-11.004-28.844 0-39.847 11.003-11.003 28.844-11.003 39.847 0" transform="translate(8.902 7.902)")
                                    path(d="m352.206 28.176h-42.265v-14.088c0-7.787-6.301-14.088-14.088-14.088h-140.883c-7.787 0-14.088 6.301-14.088 14.088v14.088h-42.265c-7.787 0-14.088 6.301-14.088 14.088v281.765c0 6.604 4.581 12.327 11.034 13.758l42.191 9.376-27.222 95.845 27.076 7.815 8.002-28.176h159.604l8.002 28.176 27.076-7.815-27.222-95.845 42.191-9.376c6.453-1.431 11.034-7.154 11.034-13.758v-281.764c-.001-7.787-6.302-14.089-14.089-14.089zm-197.236 28.177c7.787 0 14.088-6.301 14.088-14.088v-14.089h112.706v14.088c0 7.787 6.301 14.088 14.088 14.088h42.265v112.706h-225.411v-112.705zm142.24 338.117h-143.596l11.696-41.185 57.048 12.678c1.004.22 2.036.33 3.054.33s2.05-.11 3.054-.33l57.048-12.678c0 .001 11.696 41.185 11.696 41.185zm-71.799-56.697-112.706-25.04v-115.498h225.412v115.499z")
                    h4 За 18 дней из Гуанчжоу
                        span 3$-1кг
                    form(action="/")
                        .form-group.text-center
                            input(type="text" name="name" placeholder="Ваше имя...").form-control
                            input(type="tel" name="phone_number" placeholder="Ваш телефон...").form-control
                            input(type="email" name="email" placeholder="Ваш e-mail...").form-control
                            button.btn.btn-danger Отправить заявку
                            p Наш менеджер перезвонит Вам
                                span в ближайшее время
            .col-xl-3.col-lg-4.col-md-4.mt-sm-2.mt-xs-2
                h5 Доставка морем
                .form_bg.form_bg_price
                    .svg_block
                        xml(version="1.0")
                            svg(height="48px" viewBox="0 -96 480.00375 480" width="48px" xmlns="http://www.w3.org/2000/svg")
                                g(id="ship")
                                    path(d="m472 272c-8.898438.230469-17.660156-2.210938-25.160156-7.007812-20.277344-11.988282-45.472656-11.988282-65.75 0-15.460938 9.339843-34.824219 9.339843-50.28125 0-20.273438-11.992188-45.472656-11.992188-65.746094 0-15.453125 9.339843-34.808594 9.339843-50.261719 0-9.855469-6.113282-21.277343-9.238282-32.871093-8.992188-11.589844-.242188-23 2.882812-32.851563 8.992188-7.484375 4.800781-16.238281 7.242187-25.125 7.007812-8.886719.230469-17.636719-2.207031-25.121094-7-9.851562-6.117188-21.265625-9.242188-32.855469-9-11.589843-.242188-23 2.882812-32.847656 8.992188-7.484375 4.800781-16.238281 7.242187-25.128906 7.007812-4.417969 0-8 3.582031-8 8 0 4.421875 3.582031 8 8 8 11.59375.246094 23.007812-2.878906 32.855469-9 7.484375-4.789062 16.234375-7.226562 25.121093-7 8.886719-.230469 17.640626 2.210938 25.128907 7.011719 9.847656 6.109375 21.257812 9.234375 32.847656 8.988281 11.589844.242188 23-2.886719 32.847656-9 7.484375-4.792969 16.238281-7.234375 25.128907-7 8.890624-.226562 17.644531 2.214844 25.132812 7.011719 20.273438 11.988281 45.464844 11.988281 65.738281 0 15.453125-9.34375 34.816407-9.34375 50.269531 0 20.273438 11.988281 45.464844 11.988281 65.738282 0 15.472656-9.34375 34.847656-9.34375 50.320312 0 9.855469 6.109375 21.273438 9.234375 32.871094 8.988281 4.417969 0 8-3.578125 8-8 0-4.417969-3.582031-8-8-8zm0 0")
                                    path(d="m0 248c0 4.421875 3.582031 8 8 8 11.574219.261719 22.976562-2.863281 32.800781-8.988281 7.515625-4.792969 16.289063-7.234375 25.199219-7.011719 8.929688-.207031 17.714844 2.257812 25.230469 7.082031 9.808593 6.0625 21.160156 9.160157 32.691406 8.917969 11.613281.238281 23.046875-2.890625 32.925781-9.007812 7.460938-4.804688 16.199219-7.242188 25.074219-6.992188 8.953125-.21875 17.769531 2.25 25.308594 7.082031 20.253906 11.917969 45.382812 11.882813 65.601562-.089843 7.464844-4.808594 16.210938-7.246094 25.089844-6.992188 8.953125-.21875 17.769531 2.25 25.308594 7.082031 20.25 11.925781 45.378906 11.898438 65.601562-.070312 7.507813-4.785157 16.269531-7.226563 25.167969-7.011719 1.734375 0 3.335938.066406 4.953125.21875 7.167969.601562 14.082031 2.933594 20.152344 6.800781 9.867187 6.109375 21.292969 9.230469 32.894531 8.980469 4.417969 0 8-3.578125 8-8 0-4.417969-3.582031-8-8-8-8.902344.238281-17.667969-2.199219-25.167969-7-4.808593-2.835938-9.9375-5.089844-15.28125-6.710938l47.601563-94.695312c1.246094-2.480469 1.117187-5.429688-.339844-7.792969s-4.035156-3.800781-6.8125-3.800781h-40v-112c0-4.417969-3.582031-8-8-8h-288c-4.417969 0-8 3.582031-8 8v136h-16v-120c0-4.417969-3.582031-8-8-8h-64c-3.949219.003906-7.304688 2.882812-7.902344 6.785156l-14.960937 97.214844h-9.136719c-4.417969 0-8 3.582031-8 8v72c0 1.453125.394531 2.878906 1.144531 4.121094l20.457031 34.097656c-4.421874 1.265625-9.003906 1.867188-13.601562 1.78125-4.417969 0-8 3.582031-8 8zm376-128c-1.730469 0-3.414062.5625-4.800781 1.601562l-29.863281 22.398438h-5.335938v-32h80v8zm-136 24v-32h80v32zm-96-80h80v32h-80zm272 32h-80v-32h80zm-96 0h-80v-32h80zm96-48h-80v-32h80zm-96 0h-80v-32h80zm-176-32h80v32h-80zm0 96h80v32h-80zm-97.136719-80h49.136719v100.691406l-10.34375-10.34375c-1.5-1.503906-3.535156-2.34375-5.65625-2.347656h-46.671875zm-30.863281 104h60.6875l21.65625 21.65625c1.5 1.503906 3.535156 2.34375 5.65625 2.34375h240c1.730469 0 3.414062-.558594 4.800781-1.597656l29.863281-22.402344h80.359376l-44.246094 88c-.273438 0-.503906 0-.800782 0-11.601562-.234375-23.023437 2.886719-32.886718 8.992188-15.503906 9.367187-34.925782 9.339843-50.402344-.070313-20.246094-11.925781-45.378906-11.898437-65.597656.070313-15.503906 9.367187-34.925782 9.339843-50.402344-.070313-9.832031-6.070313-21.214844-9.167969-32.765625-8.921875-11.578125-.261719-22.980469 2.863281-32.800781 8.992188-7.519532 4.789062-16.292969 7.230468-25.199219 7.007812-8.929687.210938-17.710937-2.253906-25.226563-7.078125-9.8125-6.0625-21.164062-9.160156-32.695312-8.921875-1.953125 0-3.769531.082031-5.511719.203125-.585937.039063-1.121093.109375-1.6875.167969-1.113281.109375-2.214843.222656-3.257812.375-.613281.097656-1.191407.199218-1.78125.3125-.914063.160156-1.800781.328125-2.65625.527344-.570313.128906-1.128907.273437-1.671875.414062-.800782.210938-1.601563.441406-2.402344.683594-.488281.148437-.984375.300781-1.457031.460937-.796875.273438-1.542969.5625-2.277344.855469-.386719.152344-.800781.296875-1.160156.457031-.890625.375-1.746094.761719-2.578125 1.160157l-.542969.25c-1 .488281-1.976563.984374-2.910156 1.480468l-20.105469-33.5625zm0 0")
                                    path(d="m72 40h-8c-4.417969 0-8 3.582031-8 8 0 4.421875 3.582031 8 8 8h8c4.417969 0 8-3.578125 8-8 0-4.417969-3.582031-8-8-8zm0 0")
                                    path(d="m72 192h8c4.417969 0 8-3.578125 8-8 0-4.417969-3.582031-8-8-8h-8c-4.417969 0-8 3.582031-8 8 0 4.421875 3.582031 8 8 8zm0 0")
                                    path(d="m112 192h8c4.417969 0 8-3.578125 8-8 0-4.417969-3.582031-8-8-8h-8c-4.417969 0-8 3.582031-8 8 0 4.421875 3.582031 8 8 8zm0 0")
                                    path(d="m152 192h8c4.417969 0 8-3.578125 8-8 0-4.417969-3.582031-8-8-8h-8c-4.417969 0-8 3.582031-8 8 0 4.421875 3.582031 8 8 8zm0 0")
                                    path(d="m192 192h8c4.417969 0 8-3.578125 8-8 0-4.417969-3.582031-8-8-8h-8c-4.417969 0-8 3.582031-8 8 0 4.421875 3.582031 8 8 8zm0 0")
                                    path(d="m232 192h8c4.417969 0 8-3.578125 8-8 0-4.417969-3.582031-8-8-8h-8c-4.417969 0-8 3.582031-8 8 0 4.421875 3.582031 8 8 8zm0 0")
                                    path(d="m272 192h8c4.417969 0 8-3.578125 8-8 0-4.417969-3.582031-8-8-8h-8c-4.417969 0-8 3.582031-8 8 0 4.421875 3.582031 8 8 8zm0 0")
                                    path(d="m312 192h8c4.417969 0 8-3.578125 8-8 0-4.417969-3.582031-8-8-8h-8c-4.417969 0-8 3.582031-8 8 0 4.421875 3.582031 8 8 8zm0 0")
                                    path(d="m352 192h8c4.417969 0 8-3.578125 8-8 0-4.417969-3.582031-8-8-8h-8c-4.417969 0-8 3.582031-8 8 0 4.421875 3.582031 8 8 8zm0 0")
                                    path(d="m392 192h8c4.417969 0 8-3.578125 8-8 0-4.417969-3.582031-8-8-8h-8c-4.417969 0-8 3.582031-8 8 0 4.421875 3.582031 8 8 8zm0 0")
                    h4 За 25 дней из иу
                        span 2$-1кг
                    form(action="/")
                        .form-group.text-center
                            input(type="text" name="name" placeholder="Ваше имя...").form-control
                            input(type="tel" name="phone_number" placeholder="Ваш телефон...").form-control
                            input(type="email" name="email" placeholder="Ваш e-mail...").form-control
                            button.btn.btn-danger Отправить заявку
                            p Наш менеджер перезвонит Вам
                                span в ближайшее время




            
            
                           

                     

